#results{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mini-book img{
    height: 167px;
    width: auto;
}

@media only screen and (min-width: 760px) {
    #results section{
        flex: 0 0 33.3333%;
    }
    #results section img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #results section h5{
        text-align: center;
    }
}