#search-and-suggest{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

#search-input{
    width: 400px;
    height: 50px;
    background-color: var(--section-color);
}

