.chart img{
    max-width: 500px;
    max-height: auto;
}

.chart h4{
    text-align: center;
}

@media only screen and (min-width: 760px) {
    #charts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px;
    }
    .chart{
        margin: 0px 20px;
    }
}